<div class="temp-header"></div>
<div class="details-container">
  <ng-container *ngIf="isSuccess; else errorScreen">
    <h1>{{ title }}</h1>
    <div class="details-row">
      <div>
        <div class="details-image"></div>
        <p>{{ profileData?.rating }}/100</p>
      </div>
      <div class="detail-items">
        <h3>{{ profileData?.name }}</h3>
        <p>{{ profileData?.specialty }}</p>
        <p>{{ profileData?.address }}</p>
        <p>{{ profileData?.description }}</p>
      </div>
    </div>
    <div class="details-review-container">
      <p>{{ profileData?.reviews }}</p>
    </div>
  </ng-container>
  <ng-template #errorScreen>
    <div class="success-message-container">
      <div class="success-message">
        <h4>There was an error loading please check back again</h4>
      </div>
      <button class="close-button">Back</button>
    </div>
  </ng-template>
</div>
