/* Modal StylSheet  */

/* Modal Overlay  */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modal container */
.modal {
  background-color: #f5f5dc;
  padding: 20px;
  width: 400px;
  height: 425px;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-close-button{
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}
.modal-cta{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Modal form */
.modal-contact-form-input{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.label-style{
  padding-bottom: 10px;
}

/* Modal buttons */
.submit-button{
  border-radius: 22px;
  background-color:  #26453E;
  border: #26453E;
  color: #f5f5dc;
  height: 25px;
  width: 65px;
  cursor: pointer;
}

.submit-button:hover:enabled{
	color: #f5f5dc;
	background-color: #0D98BA;
  cursor: pointer;
}

.close-button {

  border-radius: 22px;
  background-color: #26453E;
  border: none;
  color: #f5f5dc;
  height: 25px;
  width: 100px;
  cursor: pointer;
  margin-top:250px

}


.close-button:hover:enabled{
	color: #f5f5dc;
	background-color: #0D98BA;
  cursor: pointer;
}

/* Modal success message */
.success-message-container{
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.success-message{
  padding-top: 40px;
  
}

