/* Modal buttons */

.btn {
  border-radius: 22px;
  cursor: pointer;
  border: none;
}

.button-small {
  height: 35px;
  width: 85px;
}

.button-small:hover:enabled {
  background-color: #0d98ba;
}

.button-primary-color {
  background-color: #26453e;
  color: #f5f5dc;
}

.button-secondary-color {
  background-color: #0d98ba;
  color: #f5f5dc;
}

.button-large {
  height: 25px;
  width: 100px;
  margin-top: 250px;
}

.button-xl {
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  background-color: #008080;
  font-size: 1.5rem;
}

.button-xl:hover:enabled {
  background-color: #0d98ba;
}
