header {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background-color: #26453e;
  color: #f5f5dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0.75rem;
  font-size: 3rem;
}

h2 {
  margin-bottom: 1rem;
}
